<!doctype html>
<html>
<head>
    <title>Meadowlark Travel</title>
</head>
<body>
<header><img src="/img/logo.png" style="width: 400px;height: 200px" alt="Meadowlark Travel Logo"></header>
{{{body}}}
</body>
</html>